# OS
.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Backend (Gradle)
backend/.gradle/
backend/build/
backend/bin/
backend/out/
backend/logs/

# Frontend (Node)
frontend/node_modules/
frontend/dist/

# Local env
.env
*.local
